.mapa {
	margin: 0 auto;
}


.mapa img {
	width: 60%;
	height: auto;
	display: flex;
	justify-content: center;
	margin: 0 auto;

}

/* modal */

.modal:target {
	display: table;
	position: absolute;
}

.modal {
	width: 50vw;
	height: auto;

	display: none;

	left: 7vw;
	top: 0;

	overflow: auto;

	z-index: 9999999999;

	padding: 1em;
	margin: 0 auto;

	background-color: rgb(243, 243, 243);
	position: relative;

	outline: 0;
	border: 1px solid #ccc;
	border-radius: 1em;
	text-align: justify;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	/* engadir animation */
	-webkit-animation-name: anima;
	/* Chrome, Safari, Opera */
	-webkit-animation-duration: 1s;
	/* Chrome, Safari, Opera */
	animation-name: anima;
	animation-duration: 1s;
}

.modal h2 {
	margin: 0 auto;
	width: auto;
	font-size: 1.3em;
	font-weight: bold;
}

.modal img {
	margin: 0em 2em 0em 10%;
	position: relative;
	width: 40vw;
	height: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal h3 {
	margin: 0 auto;
	font-size: 1em;
	font-weight: bold;
}

.modal p {

	margin: 0 auto;
	margin: 0em 2em 0em 10%;

}

div.bloque-texto {
	width: 90%;
	display: inline-grid;
	border-left: 1px solid #ccc;
}

div.bloque-texto p {
	width: 99%;
	margin: 0.5em;
	padding: 0.8em;
	display: ;
}

.container-modal {
	width: 80vw;
	padding: 0.7em;
	margin: 0 auto;

}

.container-modal p {
	width: 60vw;
	margin-left: 5%;

}


/* cerrar el modal */

.closebtn {
	text-decoration: none;
	float: right;
	font-size: 1em;
	font-weight: bold;
	color: #000;
}

.closebtn:hover,
.closebtn:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
